{% extends "base.html" %}

{% load static %}
{% block head_title %} ELEVES | {{ block.super }} {% endblock %}

<style>
{% block style %}
.navbar-static-top {
        margin-bottom: 0px !important;
        background-color:#93b3ee;
}
.jumbotron {
        background-color:#93b3ee;
        color:#fff;
}
{% endblock %}
</style>

        {% block content %}
        {% if request.user.is_authenticated %}
            <div class="row">
                <div class="col-md-12">
                                   
                    <h2>Il y a {{ eleves_list|length}} élèves enregistrés</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
            <div class="table-responsive-md">
            <table class="table table-borderd table-hover table-striped">   
                <thread>
                    <!-- <tr class="row"> -->
                    <tr>
                        
                        <th class="col-sm-1">Login</th>
                        <th class="col-sm-2"><a href="{% url 'member:member_list' %}">Nom</th>
                        <th class="col-sm-2">Prenom</th>
                        <th class="col-sm-2">Téléphone</th>
                        <th class="col-sm-1">Signature</th>
        			    <th class="col-sm-1">Cert Med</th>
        			    <th class="col-sm-1">Aut Parent</th>
        			    <th class="col-sm-1">Cotisation</th>
        			    
                        <th class="col-sm-1">Age</th> 
                        
                        <th class="col-sm-1">Edit </th>
                        <th class="col-sm-1">Delete </th>
                    </tr>
                </tread>
                <tbody>
                    {% for eleve in eleves_list %}
                    <tr>
                        
                        <td>{{ eleve.username }}</td>
                        <td>{{ eleve.last_name }}</td>
                        <td>{{ eleve.first_name }}</td>
                        <td>{{ eleve.tel_mobile }}</td>
                        <div class="list-group">
			 {% if member.member.signature_FFST %}
                            <td class="list-group-item-action list-group-item-success"></td>
                        {% else %}
                            <td class="list-group-item-action list-group-item-danger"></td>
                            {% endif %}
			 {% if member.member.certificat_medical %}
                
                            <td class="list-group-item-action list-group-item-success"></td>
                        {% else %}
                            <td class="list-group-item-action list-group-item-danger"></td>
                            {% endif %}
			 {% if member.member.autorisation  %}
                            <td class="list-group-item-action list-group-item-success"></td> 
                        {% else  %}
                            <td class="list-group-item-action list-group-item-danger"></td> 
                        {% endif %}
			 {% if member.member.cotisation %}
                            <td class="list-group-item-action list-group-item-success"></td>
                        {% else %}
                            <td class="list-group-item-action list-group-item-danger"></td>
                            {% endif %}
			        
            {% if member.member.age >= 18 %}
                        	<td>{{  member.member.age }}</td>
                        {% else  %}
                        	<td class="list-group-item-action list-group-item-danger">Age ?</td>
                        
                            {% endif %}
                    </div> <!-- list group -->
                       
                        
                        <td align="center"> <a href="/cours/member_update" member.member.id %}"><button class="btn btn-primary btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil">Update</span></button></a></td>
                        
                        <td align="center"><a href=""><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash">Delete</span></button></p></td>

                    </tr>
                    {% endfor %}


		<div class="pagination">
			<span class="step-links">
				{% if members.has_previous %}
					<a href="?page={{ members.previous_page_number }}">previous</a>
				{% endif %}
				<span class="current">
					Page {{ members.number }} of {{ members.paginator.num_pages }}.
				</span>

				{% if members.has_next %}
					<a href="?page={{ members.next_page_number }}">next</a>
				{% endif %}
			</span>
		</div>
                </tbody>  
            </table>


        </div> <!-- table-responsive -->
    </div> <!-- col-md-12 -->
        </div> <!-- row -->
    <!-- </div> --> <!-- container -->

        <!-- <div class="container"> -->
        <div class="row">
                <div class='col-sm-3'>
                </div>
                
                <div class='col-sm-2'>
                    <p><a class="btn btn-md btn-primary" href="/member/inscription" role="button">Nouvelle Inscription</a></p> 
                </div>
                <div class='col-sm-2'>
                    
                <p><a class="btn btn-md btn-primary" href="{% url 'home' %}" role="button">Retour Menu</a></p>
                </div>
                <div class='col-sm-8'>
                </div>
        </div> <!-- end row -->
        <!-- </div> -->


        {% else %}
    <h1>Need to log in </h1>
    {% endif %}
        {% endblock %}
