{% extends "base.html" %}
{% load static %}
{% block content %}

{% if form.errors %}
<p>La combinaison adresse e-mail / mot de passe est incorrecte. Réessayez ou obtenez un nouveau mot de passe..</p>
{% endif %}

<div id="login">
	<form method="post" action="{% url 'login' %}">
		{% csrf_token %}
    <h3 class="text-center text-white pt-5">Login form</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div class="login-box col-md-12">
                    <form id="login-form" class="form" action="" method="post">
                        <h3 class="text-center text-info"></h3>
                        <div class="form-group">
                            <label for="username" class="text-info">{{ form.username.label_tag }}</label><br>
                            <td>{{ form.username }}</td>
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">{{ form.password.label_tag }}</label><br>
                            <td>{{ form.password }}</td>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-info btn-md" value="Se connecter" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</form>
</div>

{% endblock %}