{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/lvh.jpg' %}">
    <meta name="keywords" content="lycée victor hugo">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <title>{% block head_title %}LYCEE VICTOR HUGO {% endblock %}</title>
    {% include 'javascript.html' %}
    {% include 'head_css.html' %}
    
    <style>
    {% block style%}
 
    {% endblock %}
    </style>
    </head>

  <body>
{% include 'navbar.html' %}

<br />
 {% block jumbotron %}
      {% endblock %}
    <div class="container">
      
      {% block content %}      
      
      {% endblock %}
     </div>
  </body>
</html>

