{% extends "base.html" %}

{% load static %} 
{% block head_title %} Lycée Victor Hugo  | {{ block.super }} {% endblock %}

<style>
{% block style %}
.navbar-static-top {
	margin-bottom: 0px !important;
	background-color:#93b3ee;
}
.jumbotron {
	background-color:#93b3ee;
	color:#fff;
}
{% endblock %}
</style>

{% block content %}
<body>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-60 h-20" src="{% static 'img/ecole.jpg' %}" alt="First slide">
      <div class="carousel-caption d-none d-md-block"> 
  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-60 h-20" src="{% static 'img/etudiants.jpg' %}" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">  
  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-60 h-20" src="{% static 'img/work.jpg' %}" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
  </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<hr class="featurette-divider">
    <div class="featurette">
        <img class="featurette-image pull-center" src="{{STATIC_URL}}img/nature.jpg">
        <h2 class="featurette-heading">Enseignement international</h2>
        <p class="lead">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
      </div>
      <hr class="featurette-divider">
      <div class="featurette">
        <img class="featurette-image pull-center" src="{{STATIC_URL}}img/activities.jpg">
        <h2 class="featurette-heading">Plus de 2000 élèves chaque année</h2>
        <p class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt</p>
      </div>
      <hr class="featurette-divider">
      <div class="featurette">
        <img class="featurette-image pull-center" src="{{STATIC_URL}}img/globe.jpg">
        <h2 class="featurette-heading">La nature à proximité</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      
	{% endblock %}
</body> 