{% load static %}
<nav class="navbar navbar-default fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container">
 <!--  <nav class="navbar navbar-expand-lg navbar-dark indigo"> -->
   <img src="{% static 'img/lvh.jpg' %}" width="60px" class="d-inline-block align-left" alt="Lycee">
    <a class="navbar-brand" href="#">Lycée Victor Hugo</a>

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
 <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

          <li class="nav-item active"> <a class="nav-link" href="{% url 'home' %}">Accueil<span class="sr-only">(current)</span></a>
          </li>

            {% if request.user.is_staff %}

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administration</a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'cours:matieres_list' %}">Matières disponibles</a>
                <a class="dropdown-item" href="{% url 'cours:classes_list' %}">Les classes</a>
                
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'cours:enseignants_list' %}">Les enseignants</a>
                <a class="dropdown-item" href="">Le planning</a>
                
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'cours:eleves_list' %}">Nos élèves</a>
                <a class="dropdown-item" href="{% url 'cours:presence_list' %}">L'état de présence</a>
                
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="">Toutes les évaluations</a>
                <a class="dropdown-item" href="">Les notes</a>
                </div>
              </li>
              
         {% endif %}
    
              <li class="nav-item">
                  <a class="nav-link" href="">Vie de l'école</a>
              </li>
             

          {% if request.user.is_authenticated and not request.user.is_staff %}
                    
                    <li class="nav-item dropdown">
                       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MySpace</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                       <a class="dropdown-item" href="">My profile</a>
                       <a class="dropdown-item" href="">Update my profile</a>
                   </div></li>
         
           {% endif %}
              <li class="nav-item">
                  <a class="nav-link" href="">A propos de </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="">Contact</a>
              </li>
              
          {% if request.user.is_authenticated %}
              <li class="nav-item">
              <a  class="nav-link" href="{% url 'logout' %}">Déconnecter</a>
              </li>
          {% endif %}

          {% if not request.user.is_authenticated and not "/accounts/login" in request.get_full_path %}
              <li class="nav-item">
              <a  class="nav-link" href="{% url 'login' %}">Se connecter</a>
              </li>
          {% endif %}
        </ul> 
      </div>
   </nav>
