{% extends "base.html" %}

{% load static %}
{% block head_title %} ELEVES | {{ block.super }} {% endblock %}

<style>
{% block style %}
.navbar-static-top {
        margin-bottom: 0px !important;
        background-color:#93b3ee;
}
.jumbotron {
        background-color:#93b3ee;
        color:#fff;
}
{% endblock %}
</style>

        {% block content %}
        {% if request.user.is_authenticated %}
            <div class="row">
                <div class="col-md-12">
                                   
                    <h2>Fiche élève</h2>
                </div>
            </div>
            
                {% for eleve in data %}
                    <div class="row">
                        <label class="col-6 col-md-4 col-form-label">Nom</label>
                        <div class="col-6 col-md-4">{{ eleve.nom }}</div>
                    </div>
                    <div class="row">
                        <label class="col-6 col-md-4 col-form-label">Prénom</label>
                        <div class="col-6 col-md-4">{{ eleve.prenom }}</div>
                    </div>
                    <div class="row">
                        <label class="col-6 col-sm-4 col-form-label">Date de naissance</label>
                        <div class="col-6 col-md-4">{{ eleve.date_naissance }}</div>
                    </div>
                    <div class="row">
                        <label class="col-6 col-md-4 col-form-label">Age</label>
                        <div class="col-6 col-md-4">{{ eleve.age }}</div>
                    </div>
                    <div class="row">
                        <label class="col-6 col-md-4 col-form-label">Sexe</label>
                        {% if eleve.sexe  == H %}

                        <div class="col-6 col-md-4">Homme</div> 
                        {% elif eleve.sexe == F %}
                        <div class="col-6 col-md-4">Femme</div> 
                        {% else %}
                        <div class="col-6 col-md-4">Inconnu</div> 
                        {% endif %}
                    </div>
                    <div class="row">
                        <label class="col-6 col-md-4 col-form-label">Classe</label>
                        <div class="col-6 col-md-4">{{ eleve.classe }}</div>
                    </div>

                     
<br />
<br />
    
        <div class="row">
                <div class='col-sm-2'>
                    <p><a class="btn btn-md btn-primary" href="{% url 'cours:eleve_update' eleve.id %}" role="button">Modifier</a></td>
                </div>
                <div class='col-sm-2'>
                    <p><a class="btn btn-md btn-primary" href="/cours/eleve_add" role="button">Nouvelle Inscription</a></p> 
                </div>
                <div class='col-sm-2'>   
                    <p><a class="btn btn-md btn-primary" href="{% url 'cours:eleves_list' %}" role="button">Retour liste élèves</a></p>
                </div>
                <div class='col-sm-2'>   
                    <p><a class="btn btn-md btn-primary" href="{% url 'home' %}" role="button">Retour Menu</a></p>
                </div>
                <div class='col-sm-2'>
                </div>
                <div class='col-sm-2'>
                </div>
        </div> <!-- end row -->
        <!-- </div> -->

 {% endfor %}

        {% else %}
    <h1>Need to log in </h1>
    {% endif %}
        {% endblock %}
