{% extends "base.html" %}

{% load static %}
{% block head_title %} ENSEIGNANTS | {{ block.super }} {% endblock %}

<style>
{% block style %}
.navbar-static-top {
        margin-bottom: 0px !important;
        background-color:#93b3ee;
}
.jumbotron {
        background-color:#93b3ee;
        color:#fff;
}
{% endblock %}
</style>

        {% block content %}
        {% if request.user.is_authenticated %}
            <div class="row">
                <div class="col-md-4">
                    <h2>Liste des enseignants </h2>
                </div>
                <div class="col-md-2">   
                    <H5> {{results_lists}} enseignants </H5>
                </div>
                <div class="col-md-6"> 
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <br />
            {% if docus.has_other_pages %}
                    <ul class="pagination pagination-sm">
                    {% if docus.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ docus.previous_page_number }}">Previous</a></li>
                    {% else %}
                      <li class="page-item disabled"><a class="page-link" href=""><span>Previous</span></a></li>
                    {% endif %}

                    {% for i in docus.paginator.page_range %}
                        {% if i <= docus.number|add:5 and i >= docus.number|add:-5 %}
                            {% if docus.number == i %}
                                <li class="page-item active"><a class="page-link" ><span>{{ i }} <span class="sr-only">(current)</span></span></a></li>
                                {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
                            {% endif %} 
                         {% endif %} 
                    {% endfor %}

                    {% if docus.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{ docus.next_page_number }}">Next</a></li>
                    {% else %}
                      <li class="page-item disabled"><a class="page-link" href=""><span>Next</span></a></li>
                    {% endif %}
                  </ul>
                {% endif %}
            
            <div class="table-responsive-md">
            <table class="table table-borderd table-hover table-striped">   
                <thread>
                    <tr>
                        <th class="header">Nom</th>
                        <th class="header">Prenom</th>
                        <th class="header">Sexe</th>
                        <th class="header">Téléphone </th>
                        
                    </tr>
                </tread>
                <tbody>
                    {% for enseignant in docus %}
                    <tr>
                        <td>{{ enseignant.nom }}</td>
                        <td>{{ enseignant.prenom }}</td>
                        <td>{{ enseignant.sexe }}</td>
                        <td>{{ enseignant.telephone }}</td>
                        
                        <td align="center"> <a href="{% url 'cours:enseignant_update' enseignant.id %}"><button class="btn btn-primary btn-sm" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil">Modifier</span></button></a></td>

                        <td align="center"> <a href="{% url 'cours:enseignant_file' enseignant.id %}"><button class="btn btn-primary btn-sm" data-title="Fiche" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil">Fiche</span></button></a></td>
                        
                        <td align="center"><a href=""><button class="btn btn-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash">Archiver</span></button></p></td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> 

                


    </div> 
        </div> 
    
        <div class="row">
                <div class='col-sm-3'>
                </div>
                
                <div class='col-sm-2'>
                    <p><a class="btn btn-md btn-primary" href="/cours/enseignement_add" role="button">Nouvelle Inscription</a></p> 
                </div>
                <div class='col-sm-2'>
                    
                <p><a class="btn btn-md btn-primary" href="{% url 'home' %}" role="button">Retour Menu</a></p>
                </div>
                <div class='col-sm-8'>
                </div>
        </div> <!-- end row -->
        <!-- </div> -->


        {% else %}
    <h1>Need to log in </h1>
    {% endif %}
        {% endblock %}
