{% extends "base.html" %}

{% load static %}
{% block head_title %} ELEVES | {{ block.super }} {% endblock %}

<style>
{% block style %}
.navbar-static-top {
        margin-bottom: 0px !important;
        background-color:#93b3ee;
}
.jumbotron {
        background-color:#93b3ee;
        color:#fff;
}
{% endblock %}
</style>

        {% block content %}
        {% if request.user.is_authenticated %}
            <div class="row">
                <div class="col-md-12">
                                   
                    <h2>Liste des matières</h2>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4">
            <div class="table-responsive-md">

                <br />
            {% if docus.has_other_pages %}
                    <ul class="pagination pagination-sm">
                    {% if docus.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ docus.previous_page_number }}">Previous</a></li>
                    {% else %}
                      <li class="page-item disabled"><a class="page-link" href=""><span>Previous</span></a></li>
                    {% endif %}

                    {% for i in docus.paginator.page_range %}
                        {% if i <= docus.number|add:5 and i >= docus.number|add:-5 %}
                            {% if docus.number == i %}
                                <li class="page-item active"><a class="page-link" ><span>{{ i }} <span class="sr-only">(current)</span></span></a></li>
                                {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
                            {% endif %} 
                         {% endif %} 
                    {% endfor %}

                    {% if docus.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{ docus.next_page_number }}">Next</a></li>
                    {% else %}
                      <li class="page-item disabled"><a class="page-link" href=""><span>Next</span></a></li>
                    {% endif %}
                  </ul>
                {% endif %}

                <table class="table table-borderd table-hover table-striped">   
                <thread>
                    <tr>
                        <th class="header">Titre matière</th>
                        
                    </tr>
                </tread>
                <tbody>
                    {% for matiere in docus %}
                    <tr>
                        <td>{{ matiere.libelle_matiere }}</td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> <!-- table-responsive-md -->
        <br />
    
        <div class="row">
                
                <div class='col-sm-2'>   
                    <p><a class="btn btn-md btn-primary" href="{% url 'home' %}" role="button">Retour Menu</a></p>
                </div>
                
        </div> <!-- end row -->
        <!-- </div> -->



        {% else %}
    <h1>Need to log in </h1>
    {% endif %}
        {% endblock %}
